*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behaviour: smooth;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: rgb(13,21,26);
  background: linear-gradient(118deg, rgba(13,21,26,1) 25%, rgba(27,41,50,1) 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}